/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


/******************************************
/* BASE STYLES
/*******************************************/

body.landing-page {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   font-family: 'Open Sans', sans-serif;
   background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
   background-size: cover;
   margin: 0px;
}

body.blog {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background-color: #f0efef;
  margin: 0px;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.landing-page-container {
  width: 100%;
  margin: auto;
  height: 500px;

}

.blog-container {
  width: 1400px;
  margin: auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.flex1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  color: white;
  margin-bottom: 10px;

}

.flex2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  width: 100%;
  margin-top: 20px;
}

.flex3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.flex4 {
  display: flex;
  flex-direction: column;
  height: 275px;
  width: auto;
  background-color: #f0efef;
  margin-bottom: 10px;
  align-items: flex-start;
  justify-content: center;
}

.flex5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}

.flex6 {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background-color: #f9e42e;
  align-items: center;
  justify-content: center;
}

.flex7 {
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 100%;
  background-color: black;
  color: white;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.flex8 {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 125px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 10px;
  top: 5px;
}

.flex9 {
  display: flex;
  flex-direction: row;
  height: 1600px;
  width: 100%;
  justify-content: space-around;
}

.flex10 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 700px;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}

.flex11 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  justify-content: flex-start;
  align-items: center;
}

.flex12 {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
}

.flex13 {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 100%;
}

.flex14 {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  background-color: white;
}

.flex15 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
  background-color: #033048;
  height: 100px;
}

.flex16 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  color: #f9e42e;
  position: relative;
  top: 35px;
  font-size: 18px;
  font-weight: 300;
}

.main {
  height: 200px;
  width: 200px;
  font-size: 24px;
  font-weight: 800;
  margin-right: 500px;
  color: white;
}

.main2 {
  height: 200px;
  width: 200px;
  font-size: 30px;
  font-weight: 800;
  margin-right: 500px;
  color: white;
  position: relative;
  top: 30px;
  left: 50px;
}


.about {
  height: 150px;
  width: 150px;
}

.faq {
  height: 150px;
  width: 150px;
}

.team {
  height: 150px;
  width: 150px;
}

.contact {
  height: 150px;
  width: 150px;
}

.blog {
  height: 150px;
  width: 150px;
}

.motto {
  height: 50px;
  width: 400px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  bottom: 100px;
}

.button {
  height: 30px;
  width: 150px;
  color: #033048;
  background-color: #f9e42e;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  padding-bottom: 30px;
  position: relative;
  bottom: 50px;
}

.benefits {
  height: 50px;
  width: 200px;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  left: 100px;
  bottom: 30px;
}

.description {
  height: 50px;
  width: 400px;
  font-size: 13px;
  font-weight: 300;
  position: relative;
  left: 100px;
  bottom: 30px;
}

.list {
  height: 50px;
  width: 400px;
  font-weight: 300;
  font-size: 13px;
  position: relative;
  left: 100px;
  bottom: 30px;
}

.quote {
  height: 50px;
  width: 300px;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  color: white;
  text-align: center;
}

.amanda {
  height: 50px;
  width: 150px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  position: relative;
  top: 50px;
}

.signup {
  height: 40px;
  width: 175px;
  font-weight: 800;
  font-size: 12px;
  border-radius: 5px;
  color: white;
  background-color:#033048;
  text-align: center;
  padding-top: 10px;
}

.logo {
  height: 50px;
  width: 200px;
  color: #f9e42e;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  position: relative;
  top: 20px;
}

.twitter {
  height: 50px;
  width: 50px;
}

.facebook {
  height: 50px;
  width: 50px;
}

.copy {
  height: 50px;
  width: 200px;
  font-weight: 600;
  font-size: 9px;
  text-align: center;
  position: relative;
  bottom: 10px;
}

.header {
  font-size: 40px;
  font-weight: 600;
  text-align: left;
}

.content {
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  float: left;
}

.more {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: 800;
  text-align: left;
}

p {
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  height: 10px;
}

.learn {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  position: relative;
  top: 200px;
}

.ad {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  background-color: white;
  height: 200px;
}

.firstletter {
  float: left;
  font-size: 60px;
  padding-right: 8px;
  margin-bottom: 0px;
}

hr {
  font-size: 15px;
}
