/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


/******************************************
/* BASE STYLES
/*******************************************/


body.landing-page {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;

}

body.blog {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

.landing-page-container {
  width: 100%;
  margin: auto;
  height: 500px;
}

.landing {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  padding: 20px 70px 300px 70px;
  width: 100%;
}

.header-landing {
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

.header-links a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  color: white;
}

.header-landing a {
  text-decoration: none;
}

.tagline {
  font-weight: 600;
  font-size: 48px;
  color: white;
  text-align: center;
  margin-top: 100px;
}

button {
  font-weight: 800;
  font-size: 18px;
  color: #033048;
  border-radius: 5px;
  background-color: #f9e42e;
  width: 150px;
  padding: 10px;
}

.button {
  display: flex;
  justify-content: space-around;
}

.two {
  background-color: #f9e42e;
  padding: 25px;
}

.two button {
  background-color: #033048;
  color: white;
}

.content {
  padding: 50px;
  font-weight: 300;
  font-size: 26px;
  color: #606161;
  background-color: #f0efef;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  color: #033048;
}

ul {
  font-weight: 300;
  font-size: 26px;
}

.testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  color: white;
  font-style: italic;
  font-size: 24px;
  padding: 30px 300px 30px 300px;
  text-align: center;
}

.quote {
  font-weight: 300;
}

.attribution {
  font-weight: 600;
  font-style: normal;
}

/* BLOG */

.blog-container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  background-color: #f0efef;
}

.header-blog {
  display: flex;
  justify-content: space-between;
  background-color: #033048;
  padding: 20px 50px;
}

.header-blog a {
  text-decoration: none;
}

.header-links-blog {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

.blog-content {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.main-column {
  width: 700px;
  padding: 0px 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  padding-top: 30px;
}

.sidebar a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

.header-links-blog a {
  color: #f9e42e;
  font-size: 16px;
  text-decoration: none;
}

h3 {
  font-size: 32px;
  font-weight: 800;
  color: #033048;
}

h4 {
  font-size: 40px;
  font-weight: 600;
  color: #033048;
}

/* ARTICLES */

article p {
  font-size: 24px;
  font-weight: 300;
  color: #606161;
}

.firstcharacter {
  float: left;
  font-size: 75px;
  font-weight: 700;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.main-column img {
  width: 100%;
}
.read-more {
  text-align: right;
  color: #033048;
  font-size: 24px;
  font-weight: 700;
}

/* SIDEBAR */

.categories ul {
  font-weight: 300;
  font-size: 13px;
  list-style-type: none;
  list-style: none;
  padding-left: 0;
}

.about-relaxr p {
  color: #606161;
  font-size: 22px;
  font-weight: 300;
}
.about-relaxr a {
  color: #033048;
  font-size: 22px;
  font-weight: 600;
}

.ad-space {
  width: 100%;
  height: 700px;
  background-color: white;
  margin-top: 30px;
}


/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  color: white;
}

.footer h1 {
  color: #f9e42e;
}

.footer p {
  font-size: 9px;
  font-weight: 600;
}

.social-logos img {
  margin: 20px;
}
