/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


/******************************************
/* BASE STYLES
/*******************************************/

body.landing-page {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   font-family: 'Open Sans',Helvetica, sans-serif;
   background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
   background-size: cover;
}

body.blog {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans',Helvetica, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.landing-page-container {
  width: 100%;
  margin: auto;
  height: 500px;
}

.blog-container {
  width: 1200px;
  margin: auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.header-container {
  height: 75px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 800;
  color: white;
}

.logo a{
  text-decoration: none;
}

.logo a:visited{
  color: white;
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  color: white;
  font-weight: 300;
  font-size: 17px;
  text-decoration: none;
  margin-left: 22px;
}

.get-now-container {
  height: 450px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-now-container div {
  color: white;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 45px;
}

.get-now-link {
  font-weight: 800;
  font-size: 24px;
  color: #033048;
  background: #f9e42e;
  background-size: contain;
  text-decoration: none;
  padding: 8px 37px 8px 37px;
  border-radius: 5px;
}

.benefits-container {
  width: 100%;
  background-color: white;
  margin: 0px;
  height: 550px;
  padding-left:270px ;
  padding-top: 90px;
}

.benefits-container h2 {
  font-weight: 600;
  font-size: 40px;
  color: #033048;
  margin: auto;
}

.benefits-container p {
  font-weight: 300;
  font-size: 26px;
  width: 32%;
  font-style: italic;
}

.benefits-container ul {
  font-weight: 300;
  font-size: 26px;
}

.testimonial-container{
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 220px; */
}

.quote {
  width: 26%;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  color: white;
  margin:0px;
  padding-top: 40px;
}
.quote-name {
  font-weight: 600;
  font-size: 18px;
  color: white;
  margin: 0px;
}

.sign-up {
  background: #f9e42e;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-link {
  font-weight:800;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 60px 8px 60px;
  background-color:  #033048;
  color: white;
  border-radius: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #121212;
  padding-top: 50px;
  padding-bottom: 30px;
}

.logo-footer {
  color: #f9e42e;
}

.social-media {
  width: 12%;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.copyright {
  font-weight: 600;
  color: white;
}

.blog-header {
  background-color: #033048;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog-nav-item {
  color: #f9e42e;
}

.blog-content-container {
  display: flex;
  justify-content:space-between;
  background-color:#f0efef;
  padding-top: 50px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 50px;
}

.blog-content-container img {
  width: 100%;
}
.blog-entries {
  width: 700px;
}

.blog-sidebar {
  width: 240px;
}

.blog-entries h2 {
  font-size: 40px;
  font-weight: 600;
  color: #033048;
}

.blog-entries hr {
  background-color: #606161;
  height: 1.5px;
  border: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blog-entries p {
  font-size: 24px;
  font-weight: 300;
  color: #606161;
}

.blog-entries p::first-letter {
  font-size: 65px;
  font-weight: 600;
  color: #606161;
  float: left;
  line-height: 60px;
  padding: 0px;
  margin-left: -4.5px;
  margin-right: 5px;
  margin-top: -4px;
}

.blog-entries h4 a {
  font-size: 24px;
  font-weight: 600;
  color: #033048;
}

.blog-entries h4{
  text-align:right;
}

.blog-sidebar h3{
  font-size: 32px;
  font-weight: 800;
  color:  #033048;
  margin-bottom: 20px;
}

.blog-sidebar ul li {
  font-size: 24px;
  font-weight: 300;
  color:  #033048;
  list-style-type: none;
}

.blog-sidebar ul {
  padding: 0;
}

.blog-sidebar p {
  font-weight: 300;
  color:  #606161;
  font-size: 22px;
  margin-bottom: 40px;
}

.blog-sidebar a {
  text-decoration: none;
  color:  #033048;
  font-size: 20px;
  font-weight: 600;
}

.blog .footer , .blog .sign-up {
  padding-left: 120px;
  padding-right: 120px;
}
