/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


/******************************************
/* BASE STYLES
/*******************************************/

body.landing-page {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   /* background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
   background-size: cover; */
   width: 960px;
   margin: 0 auto;
}

body.blog {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.landing-page-container {
  width: 100%;
  margin: auto;
}

.blog-container {
  width: 960px;
  margin: auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 960px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: 800;
}

.nav a {
  color: white;
  text-decoration: none;
  padding-left: 20px;
}

.landing-page-header {
  padding-top: 40px;
  padding-bottom: 280px;
  width: 100%;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-top: 60px;
  margin-bottom: 50px;
}

.button {
  text-align: center;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  margin: auto;
}

.yellow {
  background-color: #f9e42e;
}

.yellow a {
  color:#033048;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
}

.benefits {
  color:  #121212;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;
  background-color: #f0efef;
  padding: 25px 500px 25px 125px;
}

.benefits h2 {
  color: #033048;
  font-weight: 600;
  font-size: 20px;
}

.quoteblock {
  color: white;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  padding: 20px 320px;
  line-height: 1.5;
  background: url(../images/testimonial_bg.jpg) no-repeat center top;
  background-size: cover;
}
  /*  Not sure how to justify and center quote text*/

.quote-name {
  font-weight: 600;
  font-style: normal;
}

.calltoaction {
  background-color: #f9e42e;
  padding: 15px 0;
}

.blue {
  background-color: #033048;
}

.blue a {
  font-size: 12px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

.footer {
  text-align: center;
  color: white;
  background-color: #121212;
  padding: 50px 0 15px 0;
}
.footer .logo {
  color: #f9e42e;
  margin-bottom: 25px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 435px;
}

.social-media img {
  max-width: 20px;
  max-height: 20px;
}
.copyright {
  font-size: 9px;
  font-weight: 600;
  margin-top: 40px;
}
