/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


/******************************************
/* BASE STYLES
/*******************************************/

body.landing-page {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
   background-size: cover;
   margin:0px;
   padding:0px;
}

body.blog {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin:0px;
  padding:0px;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.landing-page-container {
  width: 100%;
  margin: auto;
  height: 500px;

}

.blog-container {
  width: 960px;
  margin: auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.nav-container {
  display: flex;
  align-items: center;
  justify-content:space-around;
  padding-top: 37px;
  padding-bottom: 37px;
}

.logo {
  font-size: 48px;
  font-weight: 800;
  color: white;
}

.logo a{
  text-decoration: none;
}

.logo a:visited{
  color: white;
  text-decoration: none;
}

.directory-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.directory-button {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 17px;
  margin-left: 22px;
}

.foot-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  padding-top: 50px;
  padding-bottom: 30px;
}

.logo-foot {
  color: #f9e42e;
}

.social-media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  width: 15%;
}

.copyright {
  color: white;
  font-weight: 600;

}


/******************************************
/* LANDING PAGE
/*******************************************/

.catchphrase-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0px 255px 0px;
}

.catchphrase {
  color: white;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 75px;
}

.get-it-now {
  color: #033048;
  font-weight: 800;
  font-size: 24px;
  text-decoration: none;
  background: #f9e42e;
  background-size: contain;
  border-radius: 5px;
  padding: 8px 38px 8px 38px;
}


.benefits-container {
  background-color: white;
  margin: auto;
  padding: 70px 232px;
}

.benefits-container h2 {
  font-weight: 600;
  font-size: 40px;
  color: #033048;
}

.benefits-container p {
  font-weight: 300;
  font-size: 26px;
  /* font-style: italic; */
  padding-right: 445px;
}

.benefits-container ul {
  font-weight: 300;
  font-size: 26px;
  text-overflow: ellipsis;
  max-width: 750px;
}

.quote-container{
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 420px 50px 420px;
  /* height: 220px; */
}

.quote {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  font-style: italic;
  /* padding-top: 40px; */
  margin:0px;

}
.quote-author {
  color: white;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  margin: 0px;
}

.yellow {
  background: #f9e42e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
}

.signupnow {
  font-weight:800;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 60px 8px 60px;
  background-color:  #033048;
  color: white;
  border-radius: 5px;
}

.landing-page .foot .logo-foot{
  margin-bottom: 60px;
}


/******************************************
/* BLOG PAGE
/*******************************************/

.blog-header {
  justify-content: space-between;
  background-color: #033048;
  padding-top: 25px;
  padding-right: 120px;
  padding-bottom: 25px;
  padding-left: 120px;
}

.blog-item {
  color: #f9e42e;
  font-weight: 300;
  font-size: 17px;
  text-decoration: none;
  margin-left: 22px;
}
